@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  min-width: auto;
}
.Main2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Main3 {
  background-color: #ebeafa;
  font-style: white;
}
.Main4 {
}

.video {
  width: 50%;
  flex: 4;
}

.card {
  width: 200px;
  height: 200px;
  margin-top: 30px;
}

.mainBlueF {
  color: #0c134f;
}
.mainBlueB {
  background-color: #0c134f;
}

.practice {
  width: 10%;
  flex: 1;
}

.pcard {
  aspect-ratio: 3 / 2;
  background-color: #2d24a8;
  color: #ebeafa;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 3%;
  font-size: xx-large;
}

.human1 {
  display: flex;
  flex-direction: row;
  width: 20%;
}

.human2 {
  flex: 1;
}

.footer {
  background: #0c134f;
  color: white;
}

.footerLogo {
  height: 190px;
}

.Main1 {
  height: 100%;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.study-category-button {
  min-width: 60px;
  height: 35px;
  margin: 5px;
  /* font-family: ; */
  font-weight: bold;
  border-radius: 15px;
}

.study-category-button-activate {
  background-color: #2d24a8;
  color: white;
}

.study-category-button-deactivate {
  background-color: #ffffff;
  color: black;
}

.container {
  display: flex; /* Flexbox 사용 */
  justify-content: flex-end;
  align-items: center; /* 수직 방향 중앙 정렬 */
  height: 45px; /* 컨테이너의 높이 설정, 필요에 따라 조정 */
}

.search-room-input {
  border-radius: 15px;
  background-color: #ebeafa;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.search-room-input::placeholder {
  /* 브라우저별로 text-align 속성이 동작하지 않을 수 있음 */
  text-align: right;
  padding-right: 6px;
  color: #717171;
}

.study-main {
  display: inline-block;
  width: 980px;
  margin: 100px 25%;
  height: 100%;
}

.pagination {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.pagination > span {
  padding: 10px;
  cursor: pointer;
}

.pagination > button {
  padding: 0px 30px;
}

.create-room-button {
  position: relative;
}

.create-room-button > button {
  position: absolute;
  background-color: #2d24a8;
  color: white;
  font-weight: bold;
  right: 30px;
  bottom: -10px;
}

.LoginBox {
  background-color: #0c134f;
  margin-top: 3%;
  width: 450px;
}

.LoginAnother {
  display: flex;
}

.LoginSocial {
  display: flex;
}

.textsmall {
  font-size: 13px;
}

.moveButton {
  position: absolute;
  top: 118px;
  right: 95px;
  font-size: small;
}

.moveButton1 {
  position: absolute;
  top: 178px;
  right: 95px;
  font-size: small;
}

.card-study-room-info {
  position: relative;
  width: 280px;
  height: 160px;
  border-radius: 15px;
  padding: 20px;
  background-color: #1d267d;
  color: white;
  margin: 10px 20px;
}

.card-study-room-info > h1 {
  font-size: 25px;
}

.card-study-room-div1 {
  display: flex;
  justify-content: space-between;
}

.private-icon {
  width: 20px;
}

.RoomPage {
  padding: 30px;
  background-color: #0c134f;
  width: 100%;
  height: 1080px;
}

/* pLoud */
.ploud-icon {
  width: 327px;
  height: 87px;
  left: 65px;

  font-family: "Notable";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  text-align: center;

  color: #818f8a;
}

.video-flex {
  display: flex;
  height: 680px;
  padding: 60px;
}

.video-room-button img {
  width: 70px;
}

.video-room-button {
  margin: 0px 30px;
}

.button-empty {
  width: 210px;
}

.enter-room {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.room-list {
  height: 560px;
}